/* primary color */
.primary-color{
	background-color:#282828;
}


/* secondary color */
.secondary-color {
	background-color: rgba(40, 40, 40, 0.83) !important;
}
/* tertiary color */
.tertiary-color{
   color: #ffffff !important;/*text color*/
}

