

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 50px;
    line-height: 50px;
}	
body {
    background-color: #436fb0;
    
    background: url(../images/sky-bg.jpg) no-repeat center center;
    background-size: cover;
   
}	
main {
	margin-top:10px;
	margin-bottom:20px;
}	
nav.top-nav {
    height: 105px;
    
}
.navbar-fixed {
    height: 50px;
}
nav .nav-wrapper {
    text-align: left;
}
nav.top-nav a.page-title {
    line-height: 122px;
    font-size: 48px;
}
/* card profile imahe */

figure {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}
nav ul a,
nav .brand-logo {
  color: #ffffff;
}
nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 1.1rem;
    padding: 0;
    white-space: nowrap;
	
   padding-left: 16px;
}
nav ul {
	padding-right:16px;
}
.side-nav li.active {
    background-color: #00bcd4;
}
.dropdown-content {
	min-width:150px;
    margin-top: 40px;
}
.dropdown-content li > a, .dropdown-content li > span {
    font-size: 16px;
    color: #000000;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}
.side-nav li > a > i, .side-nav li > a > [class^="mdi-"], .side-nav li > a li > a > [class*="mdi-"], .side-nav li > a > i.material-icons {
    float: left;
    height: 48px;
    line-height: 48px;
    margin: 0 20px 0 0;
    width: 24px;
    color: rgb(255, 254, 254);
}
navcontainer {
	    width: 100%;
}
nav a {
    -webkit-font-smoothing: antialiased;
}
nav a {
    color: #fff;
}
a {
    background-color: rgba(0, 0, 0, 0);
}
a.button-collapse.top-nav.full {
    line-height: 122px;
}
a.button-collapse.top-nav {
    position: absolute;
    height: 48px;
    width: 48px;
    top: 0;
    float: left;
    color: #fff;
    font-size: 36px;
    z-index: 2;
	padding-left: 20px;
}
.side-nav li > a {
    color:  rgba(255, 255, 255, 0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
}
}
@media only screen and (min-width: 993px)
.hide-on-large-only {
    display: none !important;
}
a {
    text-decoration: none;
}	
nav ul a,
nav .brand-logo {
  color: #ffffff;
}

p {
  line-height: 2rem;
}
nav .button-collapse {
    
    margin: 0px -12px;
}
.button-collapse {
  color: #ffffff;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
/* sticky footer */
 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
/*icon color modification */
 nav i.material-icons {
    display: block;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    color: #ffffff;
}
.side-nav.fixed {
    left: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    position: fixed;
    margin-top: 50px;
}
.side-nav {
	width:200px;
}
#sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0);
    z-index: 997;
    will-change: opacity;
}
.container {
    width: 95%;
}
/*breadcrumb */
.breadcrumb:before {
    content: '\E5CC';
    color: black;
    vertical-align: top;
    display: inline-block;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    margin: 0 10px 0 8px;
    -webkit-font-smoothing: antialiased;
}
.borderbox {
	border: 1px solid black;
}
.tabs .tab a {
    color: rgb(0, 0, 0);
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color .28s ease;
}
.tabs .tab a:hover, .tabs .tab a.active {
    background-color: #e2e0e0;
    color: #000000;
}
.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #000000;
    will-change: left, right;
}
.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #f7f7f7;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
	border-radius: 3px;
}

/* table edit */
table {
    width: 100%;
    display: table;
}

h1.page-header {
	    font-weight: 400;
    color: #fff;
    float: left;
    width: auto;
    margin: 0;
    padding: 0;
    font-size: 35px;
    opacity: 0.9;
}
h5.page-header{
	font-size: 1.64rem;
    line-height: 110%;
    margin: 0.82rem 0 0.656rem 0;
	color: #fff;
}
.page-header2{
	font-size: 1.52rem;
    line-height: 110%;
	color: #000000;
}
/*card edit */
.card .card-title {
	padding-left:24px;
	    font-weight: 400;
    opacity: 0.9;
    color: #000;
}	
.card {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: rgb(231, 238, 246);
    transition: box-shadow .25s;
    border-radius: 1px;
}
label {
    font-size: 0.8rem;
    color: #000000;
}

/* select edit */

select, select[size="0"], select[size="1"] {
    border-radius: 0px;
    border-color: rgb(169, 169, 169);
}
select:not(:-internal-list-box) {
    overflow: visible !important;
}
select {
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    background-color: white;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
}
select {
    border-radius: 5px;
}
 select {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 13.3333px Arial;
}

div.dt-buttons {
    position: relative;
    float: left;
    margin-top: 28px;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color: #000000;
    margin-right: 5px;
    transition: color .3s ease;
    text-transform: uppercase;
}
.margin-edit{
	margin-bottom:0px;
}
/*card edit*/
.card .card-content p {
    margin: 0;
    color: inherit;
    color: black;
    font-size: 25px;
}
.card-image img {
    border-radius: 2px 0 0 2px;
    max-width: 100%;
    width: auto;
    height: 137px;
}
.card .card-action {
    position: relative;
    background-color: inherit;
    border-top: 1px solid rgb(0, 0, 0);
    padding: 6px 10px 10px 10px;
}
.card.horizontal .card-image img {
    border-radius: 2px 0 0 2px;
    max-width: 100%;
    width: 120px;
}
table.striped > tbody > tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.98);
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
    color: #000000;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
    background: #f8f7f6 none;
    color: white;
}
thead {
    border-bottom: 1px solid #717070;
}
.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
    background: #ffffff none;
    color: white;
}
td, th {
    padding: 10px 3px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}
nav ul li.active {
    background-color: #00bcd4;
}