<div class="row margin-edit">
	<div class="col s12 m12 l12">
	<h1 class="page-header">Download CDR</h1>
	</div>
	</div>
	<div class="row">
	<div class="col s12 m12 l12">
	<div class="row">
	 <div class="col s12 m6 l6">
	 <div class="card z-depth-4">
	 <div class="card-action">
	 <center>
					<h5 class="page-header2">Select IP for CDR : </h5>
					<select id="ips" style="padding:1%;margin-bottom:1%;background-color:white"><option value="0">All IPs</option><option>223.30.204.196</option><option>223.30.204.197</option><option>223.30.204.198</option><option>27.131.210.5</option><option>103.211.22.86</option></select>
				</center>
		  <div style="width:100%; max-width:700px; display:inline-block;">
			<div id="fromDate"></div>
		  </div>
		  <div class="row center"style="margin-bottom:0px;">
		  <div class="col s12 m12 l12 " style="margin-top:5px;">
		  <a id="button" class="waves-effect secondary-color  waves-light btn center z-depth-3">Download CDR</a>
		  </div>
		  </div>
	  </div>
	  </div>
	</div> 
	<div class="col s12 m6 l6">
	 <div class="card z-depth-4">
	<span class="card-title">Consumption Report</span>
	<div class= "card action">
	    <div class="row center">
		  <div class="col s12 m12 l12">
        <table class="centered bordered striped" id="calldetails">
                                        	<thead>
	                                                <tr>
													<th>Date</th>
	                                                <th>Total Calls</th>
							                        <th>Time(min)</th>
        	                                        <th>Charges(USD)</th>
                	                                </tr>
											</thead>
                                            <tbody>
                                                <tr ng-repeat ="data in info">
                                                <td>{{data.date}}</td>
                                                <td>{{data.totalCalls}}</td>
                                                <td>{{data.totalTime}}</td>
                                                <td>{{data.totalCharge | number:2}}</td>
                                                </tr>
                                            </tbody>
						                   
                                	</table>
	  </div>
	     <div class="row left"style="margin-top:25px;">
		  <div class="col s12 m12 l12 ">
		  <a class="waves-effect secondary-color  waves-light btn center">Previous</a>
		  </div>
		  </div>
		   <div class="row right"style="margin-top:25px;">
		  <div class="col s12 m12 l12 ">
		  <a class="waves-effect secondary-color  waves-light btn center">Next</a>
		  </div>
		  </div>
	  </div>
	  		  
	  </div>
	  </div>
	  </div>
	</div> 
    </div>	
	</div> 
     
<!--<div id="fromDate"></div>
<button id="button">Click me</button>-->
 <script src="js/jquery.ui.min.js"> </script>
<script src="js/multidatepicker.js"> </script>

<script>
    $(document).ready(function(){
            $('#fromDate').multiDatesPicker({
                dateFormat: 'yymmdd',
                minDate: -90, 
                maxDate: "0D",
                maxPicks: 5,
            });
         $('#button').click(function(){
                var dates = $("#fromDate").multiDatesPicker('getDates');
				console.log("hello");
        
        
        });
       /* var acc_no=100124;
     	   $.ajax({
     		  type: "GET",
     		  url: "http://localhost:8080/trial/Login",
     		  data: {
     			  accno: acc_no
     			  
     		  },
     		  success: function(result)
     		  {
     			  
     			  var string = JSON.parse(result);
     			 console.log(string);
     			 
     			 if (string.error == "null" && string.data.length > 0){
     			  var str="<tbody>";
     			  for (i=0; i<string.data.length; i++ )
     				  {
     				    var charge=Math.round(string.data[i].totalCharge*100)/100;
     				   
     				  	str+="<tr><td>"+string.data[i].date+"</td><td>"+string.data[i].totalCalls+"</td><td>"+string.data[i].totalTime+"</td><td>"+charge+"</td></tr>";
     				  
     				  }
     			  str+="</tbody>";
     			  $("#calldetails").append(str);
     			 }
     			 else
     				 {
     				 	
     				 	if (string.message == undefined)     				 	
     				 	 string.message = "No data Found";
     				 	
     				 	var str="<tbody>";	
     				 	str+="<tr><td colspan=\"4\">"+string.message+"</td></tr>";
     				 	str+="</tbody>";
     				 	$("#calldetails").append(str);   
     				 	
     				 }
     			  
     		  },
     		  error: function(XMLHttpRequest,textStatus,errorThrown)
     		  {
     			  if (XMLHttpRequest.readyState == 4)
     				  {
     				  alert(XMLHttpRequest.statusText);
     				  }
     			  else  if (XMLHttpRequest.readyState == 0)
				  {
				  alert("Internal Server Error");
				  }
     			  else
     				  {
     				  alert("Sorry for the inconvience.Please try again after some time.")
     				  }
     		  }
     	   });*/
     	   //ajax call end
        });
        
</script>

    
  
