 <div class="row margin-edit">
	<div class="col s12 m12 l12">
	<h1 class="page-header">Dashboard</h1>
	</div>
	</div>
	<div class="row">
	<div class="col s12 m3 l3">
    <div class="card horizontal">
      <div class="card-image" style="background-color: #aa1f41 !important;">
        <img src="images/bal5.png">
      </div>
      <div class="card-stacked">
        <div class="card-content center">
          <p>50.71</p>
        </div>
        <div class="card-action center"style="padding: 0px 20px;">
          <p>Balance</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m3 l3">
    <div class="card horizontal">
      <div class="card-image"style="background-color: #31bafd !important;">
        <img src="images/lt4.png">
      </div>
      <div class="card-stacked">
        <div class="card-content center">
          <p>0</p>
        </div>
        <div class="card-action"style="padding: 0px 10px;">
          <p>Last Transaction</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m3 l3">
    <div class="card horizontal">
      <div class="card-image accent-4" style="background-color: #ff4a51 !important;">
        <img src="images/noc3.png">
      </div>
      <div class="card-stacked">
        <div class="card-content center">
          <p>0</p>
        </div>
        <div class="card-action center"style="padding: 0px 10px;">
          <p style="margin:0px;">Number of calls on 2017-06-13</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m3 l3">
    <div class="card horizontal">
      <div class="card-image darken-1" style="background-color: #0575a5 !important;">
        <img src="images/cl2.png">
      </div>
      <div class="card-stacked">
        <div class="card-content center">
          <p>100</p>
        </div>
        <div class="card-action center"style="padding: 0px 10px;">
          <p>Credit Limit</p>
        </div>
      </div>
    </div>
  </div>
	</div>
	<div class="row">
	<div class="col s12 m6 l6">
	<div class="card z-depth-4">
	<span class="card-title">Calling Statistics Graph</span>
	<div class="card-action" style="padding:0px;">
	<div id="chart"></div>
	</div>
	</div>
	</div>
	<div class="col s12 m6 l6">
	<div class="card z-depth-4">
	<span class="card-title">Last Transactions</span>
	 <div class="card-action">
	    <div class="row">
		<div class="col s12 m12 l12">
         <table id="example" class="display  " cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Account Id</th>
                <th>Amount</th>
                <th>Balance</th>
                <th>Time</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Account Id</th>
                <th>Amount</th>
                <th>Balance</th>
                <th>Time</th>
            </tr>
        </tfoot>
        <tbody>
            
	    </tbody>
    </table>
	</div>
	</div>
        </div>
	</div>
	</div>
	</div>
	<div class="row">
	<div class="col s12 m6 l6">
	<div class="card z-depth-4">
	<span class="card-title">Most Calling Area Last Day</span>
	<div class="card-action">
	<div id="vmap" style="width: 100%; height: 400px;"></div>
	</div>
	</div>
	</div>
	<div class="col s12 m6 l6">
	<div class="card z-depth-4">
	<span class="card-title">Authorised IP(s)</span>
	<div class="card-action"style="padding:0px;padding-bottom:2px;">
	<div class="row center">
		  <div class="col s12 m12 l12">
        <table class="centered bordered striped" style="width:100%;height: 389px;">
            <thead>
                    <tr>
                    <th>IP</th>
                    <th>Delete</th>
                    </tr>
            </thead>
            <tbody>
            <tr>
            <td>223.30.204.196</td>
            <td><a class="waves-effect secondary-color  waves-light btn center z-depth-3">Delete</a></td>
            </tr>
            <tr>
            <td>223.30.204.197</td>
            <td><a class="waves-effect secondary-color  waves-light btn center z-depth-3">Delete</a></td>
            </tr>
            <tr>
            <td>223.30.204.198</td>
            <td><a class="waves-effect secondary-color  waves-light btn center z-depth-3">Delete</a></td>
            </tr>
            <tr>
            <td>27.131.210.5</td>
            <td><a class="waves-effect secondary-color  waves-light btn center z-depth-3">Delete</a></td>
            </tr>
            <tr>
            <td>103.211.22.86</td>
            <td><a class="waves-effect secondary-color  waves-light btn center z-depth-3">Delete</a></td>
            </tr>
            </tbody>
        </table>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
<!--Datatable-->
  <script src="js/datatable/datatable.js"></script>
  <script src="js/tableedit.js"></script>
<!--Charts-->
   <script src="js/charts/d3.v3.min.js" charset="utf-8"></script>
    <script src="js/charts/c3.min.js"></script>
   <script src="js/charts/chartedit.js"></script>
<!-- Maps-->
    <script type="text/javascript" src="js/maps/jquery.vmap.js"></script>
    <script type="text/javascript" src="js/maps/jquery.vmap.world.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/maps/jquery.vmap.sampledata.js"></script>
    <script src="js/maps/mapedit.js"></script>-->
 