<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>MyCARE|SkyCRM</title>
  
   <link rel="icon" href="images/logo.png">
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/color.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
   <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
  <link href="js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">    
  <link rel="stylesheet" href="css/monthly.css">
  <link href="css/jquery-ui.multidatespicker.css" rel="stylesheet"/>
  <link href="css/jquery-ui.css" rel="stylesheet"/>
  <link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css">
   <link href="css/c3.css" rel="stylesheet" type="text/css">
   <link href="css/jqvmap.css" media="screen" rel="stylesheet" type="text/css"/>
 

</head>
<body ng-app="main" ng-controller="nav">
    <header>
    <div class="navbar-fixed">
      <nav class="primary-color" role="navigation">
    <div class="nav-wrapper navcontainer">
      <a id="logo-container" href="#" class="brand-logo tertiary-color text-lighten-2"><span class="blue-text text-darken-1"><font size="6">S</font>KY</span><span><font size="6">C</font>RM</span></a>
      <ul class=" hide-on-med-and-down" style="margin-left:190px;">
        <li  ng-class="class" ng-click="changeClass()"><a href="#!dashboard" class="waves-effect waves-light tertiary-color">Dashboard</a></li>
        <li  ng-class="class1"ng-click="changeClass1()"><a href="#!payment" class="waves-effect waves-light tertiary-color ">Payment</a></li>
        <li  ng-class="class2" ng-click="changeClass2()"><a href="#!CDR" class="waves-effect waves-light tertiary-color">CDR Report</a></li>
		<li  ng-class="class3" ng-click="changeClass3()"><a href="#!rate" class="waves-effect waves-light tertiary-color ">Call Rates</a></li>
      </ul>
	  <ul class="right">
		<li class="hide-on-med-and-down"><a href="#"><i class="material-icons md-26">account_circle </i></a></li>
		<li class="hide-on-med-and-down"><span id="name">Skytel Outsourcing Pvt Ltd</span></li>
	    <li><a class="dropdown-button" href="#!" data-activates="profile-dropdown"><i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
	  <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only">
	  <i class="material-icons">menu</i></a>
    </div>
  </nav>

	</div>  
	  
      <ul id="nav-mobile" class="side-nav secondary-color z-depth-2">
	    <li style="height:30px;"></li>
        <li ng-class="class" ng-click="changeClass()"><a href="#!dashboard" class="waves-effect waves-light tertiary-color"><i class="material-icons">dashboard</i>Dashboard</a></li>
        <li ng-class="class1" ng-click="changeClass1()"><a href="#!payment" class="waves-effect waves-light tertiary-color "><i class="material-icons">payment</i>Payment</a></li>
        <li ng-class="class2" ng-click="changeClass2()"><a href="#!CDR" class="waves-effect waves-light tertiary-color"><i class="material-icons">show_chart</i>CDR Report</a></li>
		<li ng-class="class3" ng-click="changeClass3()"><a href="#!rate" class="waves-effect waves-light tertiary-color "><i class="material-icons">trending_up</i>Call Rates</a></li>
      </ul>
	  <ul id="profile-dropdown" class="dropdown-content" style="width: 128px; position: absolute; top: 57px; left: 101.234px; opacity: 1; display: none;">
                            <li><a href="#"><i class="material-icons black">keyboard_tab</i> Logout</a>
                            </li>
      </ul>
    </header>
    
    
    <main ng-view ></main>
    
    
 
    <script src="js/route.js"></script> 
    <script src="js/log.js"></script>
    <script src="js/angular/rate.js"></script>
    <script src="js/angular/indexController.js"></script>
    <script src="js/materialize.js"></script>
    
  <script src="js/init.js"></script>
  <script type="text/javascript" src="js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
        window.onbeforeunload = function () {

    //for changing the url

    var newUrl = "http://localhost/skycrm1/index.html#!/dashboard";
    window.location.href = newUrl;
};
    </script>
</body>
</html>    
    