<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>MyCARE|SkyCRM</title>
  
   <link rel="icon" href="images/logo.png">
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/color.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <link href="js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
</head>
<body ng-app="login" ng-controller="loginpage">
  <header>
    <div class="navbar-fixed">
      <nav class="primary-color" role="navigation">
        <div class="nav-wrapper navcontainer">
            <a id="logo-container" href="login.html" class="brand-logo tertiary-color text-lighten-2"><span class="blue-text text-darken-1"><font size="6">S</font>KY</span><span><font size="6">C</font>RM</span></a>
        </div>
    </nav>
	</div>  
    </header>
	<main>
	<div class="container">
	<div class="row center" style="margin-right: -9px;">
	<div class=" col s12 m4 l4 offset-m4 offset-l4">
	<div class="card z-depth-4" style="border-radius: 10px;">
	<h4 style="color:#4062a1;">Log in</h4>
	<hr>
	<div class="card-content">
    <form name="loginform">    
	<div class="row">
	<div class="input-field col s12">
          <input id="phonenumber" name="phonenumber" type="text" ng-model="phonenumber" required>
          <label for="last_name">Phone Number</label>
          <span ng-show="loginform.phonenumber.$touched &&loginform.phonenumber.$invalid">Phone Number is required</span>
    </div>    
	<div class="input-field col s12">
          <input id="password" type="password" name="password" ng-model="password" required>
          <label for="last_name">Password</label>
          <span ng-show="loginform.password.$touched && loginform.password.$invalid" style="margin-left: -170px;"> Password is required</span>    
          
	<div class="left" style="margin-left: 10px;">
	<p>
      <input type="checkbox" id="check" ng-model="check.value"ng-true-value="'TRUE'" ng-false-value="'FALSE'" />
      <label for="check" style="color:#4062a1;margin-top: 30px;">Remember Me </label>
    </p>
	</div>
	</div>
        </div>
	<a class="waves-effect secondary-color  waves-light btn center z-depth-3" id="login" ng-click="submit()" ng-disabled="loginform.phonenumber.$invalid || loginform.password.$invalid " >Login</a>
     </form>
    <div id="error" style="margin-top: 25px;">{{error}}</div>    
	</div>
	</div>
	</div>
	</div>
	</div>
	</main>
  <!-- jQuery Library -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>  
  <!--  Scripts-->
   <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
   <script src="js/materialize.js"></script>
   <script src="js/init.js"></script>
   <script src="js/angular/loginpage.js"></script>    
   <script type="text/javascript" src="js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
  </body>
</html>
