    <div class="row margin-edit">
	<div class="col s12 m12 l12">
	<h1 class="page-header">Payment Table</h1>
	</div>
	</div>
	<div class="row">
	<div class="col s12 m12 l12">
	<div class="card z-depth-4">
	<span class="card-title">Payment Table</span>
	 <div class="card-action">
	    <div class="row">
		<div class="col s12 m12 l12">
         <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Account</th>
                <th>Amount</th>
                <th>Type</th>
                <th>Pay Type</th>
				<th>Balance</th>
				<th>Time</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Account</th>
                <th>Amount</th>
                <th>Type</th>
                <th>Pay Type</th>
				<th>Balance</th>
				<th>Time</th>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
				<td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
				<td>2011/07/25</td>
                <td>$170,750</td>
            </tr>
            <tr>
                <td>Ashton Cox</td>
                <td>Junior Technical Author</td>
                <td>San Francisco</td>
                <td>66</td>
				<td>2009/01/12</td>
                <td>$86,000</td>
            </tr>
            <tr>
                <td>Cedric Kelly</td>
                <td>Senior Javascript Developer</td>
                <td>Edinburgh</td>
                <td>22</td>
				<td>2012/03/29</td>
                <td>$433,060</td>
            </tr>
            <tr>
                <td>Airi Satou</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>33</td>
				<td>2008/11/28</td>
                <td>$162,700</td>
            </tr>
            <tr>
                <td>Brielle Williamson</td>
                <td>Integration Specialist</td>
                <td>New York</td>
                <td>61</td>
				<td>2012/12/02</td>
                <td>$372,000</td>
            </tr>
            <tr>
                <td>Herrod Chandler</td>
                <td>Sales Assistant</td>
                <td>San Francisco</td>
                <td>59</td>
                <td>2012/08/06</td>
                <td>$137,500</td>
            </tr>
            <tr>
                <td>Rhona Davidson</td>
                <td>Integration Specialist</td>
                <td>Tokyo</td>
                <td>55</td>
                <td>2010/10/14</td>
                <td>$327,900</td>
            </tr>
            <tr>
                <td>Colleen Hurst</td>
                <td>Javascript Developer</td>
                <td>San Francisco</td>
                <td>39</td>
                <td>2009/09/15</td>
                <td>$205,500</td>
            </tr>
            <tr>
                <td>Sonya Frost</td>
                <td>Software Engineer</td>
                <td>Edinburgh</td>
                <td>23</td>
                <td>2008/12/13</td>
                <td>$103,600</td>
            </tr>
            <tr>
                <td>Jena Gaines</td>
                <td>Office Manager</td>
                <td>London</td>
                <td>30</td>
                <td>2008/12/19</td>
                <td>$90,560</td>
            </tr>
			</tbody>
    </table>
	</div>
	</div>
        </div>
	</div>
	</div>
	</div>
  <script src="js/datatable/datatable.js"></script>
    <script src="js/datatable/datatable_button.js"></script>
    <script src="js/datatable/datatable_buttonhtml5.js"></script>
    <script src="js/datatable/datatable_print.js"></script>
    <script src="js/datatable/datatable_colVis.js"> </script>
    <script src="js/datatable/datatable_flash.js"> </script>
    <script src="js/datatable/datatable_fonts.js"> </script>
    <script src="js/datatable/datatable_pdf.js"> </script>
    
    <script>
         $(document).ready(function() {
                $('#example').DataTable( {
	                    dom: 'Blfrtip',
									
						buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
                        
						"scrollX": true,
									 
						"scrollY": true,
						
						"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
                                               
                } );
                } ); 
    </script>

 
