<div class="row margin-edit">
	<div class="col s12 m12 l12">
	<h1 class="page-header">Rates</h1>
	</div>
	</div>
	<div class="row">
	<div class="col s12 m12 l12">
	<div class="card z-depth-4">
	<span class="card-title">Rate Table</span>
	 <div class="card-action">
	    <div class="row">
		<div class="col s12 m12 l12">
         <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Area Code</th>
                <th>Type</th>
                <th>Area Name</th>
                <th>Fee</th>
            </tr>
        </thead>

    </table>
	</div>
	</div>
        </div>
	</div>
	</div>
	</div>
    <script src="js/datatable/datatable.js"></script>
    <script src="js/datatable/datatable_button.js"></script>
    <script src="js/datatable/datatable_buttonhtml5.js"></script>
    <script src="js/datatable/datatable_print.js"></script>
    <script src="js/datatable/datatable_colVis.js"> </script>
    <script src="js/datatable/datatable_flash.js"> </script>
    <script src="js/datatable/datatable_fonts.js"> </script>
    <script src="js/datatable/datatable_pdf.js"> </script>
    
    <script>
    /*     $(document).ready(function() {
                $('#example').DataTable( {
	                    dom: 'Blfrtip',
									
						buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
                        
						"scrollX": true,
									 
						"scrollY": true,
						
						"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
                                               
                } );
                } ); */
    </script>



